[Unit]
Description=QQ as IRC Service
AssertFileIsExecutable=/usr/local/bin/qq.pl
AssertFileIsExecutable=/usr/local/bin/run-qq-local.sh
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/run-qq-local.sh

[Install]
WantedBy=multi-user.target
