[Unit]
Description=devmon Service
AssertFileIsExecutable=/usr/local/bin/clean-umounted
AssertFileIsExecutable=/usr/local/bin/my-devmon

[Service]
Type=simple
User=%i
PIDFile=/run/devmon.pid
# Set DISPLAY for popup dialogs
Environment=DISPLAY=:0
ExecStartPre=-/usr/local/bin/clean-umounted
ExecStart=/usr/local/bin/my-devmon
ExecStop=-/usr/bin/devmon -u
ExecStopPost=/usr/local/bin/clean-umounted

[Install]
WantedBy=multi-user.target
