[Unit]
Description=Empty Given Folders Service
AssertFileIsExecutable=/usr/bin/empty-folders
AssertFileNotEmpty=%h/.myconfig/empty-foldersrc

[Service]
Type=oneshot
ExecStart=/usr/bin/empty-folders %h/.myconfig/empty-foldersrc
IOSchedulingClass=idle
IOSchedulingPriority=7
