[Unit]
Description=Delete notmuch deleted and spam mails Service
AssertFileIsExecutable=/usr/local/bin/delete-mails.sh
AssertFileIsExecutable=/usr/local/lib/my-notmuch-utils/commons.sh

[Service]
Type=oneshot
ExecStart=/usr/local/bin/delete-mails.sh
IOSchedulingClass=idle
IOSchedulingPriority=7
