[Unit]
Description=Synchronize mails  Service
AssertFileIsExecutable=/usr/local/bin/sync-mails.sh
AssertFileIsExecutable=/usr/local/lib/my-notmuch-utils/commons.sh

[Service]
Type=oneshot
ExecStart=/usr/local/bin/sync-mails.sh
IOSchedulingClass=idle
IOSchedulingPriority=7
