[Unit]
Description=List installed packages Service
AssertFileIsExecutable=/usr/bin/list-installed-packages.sh
AssertFileNotEmpty=%h/.myconfig/list-installed-packages

[Service]
Type=oneshot
ExecStart=/usr/bin/list-installed-packages.sh %h/.myconfig/list-installed-packages
IOSchedulingClass=idle
IOSchedulingPriority=7
